# Introduction to Strings

In [1]:
a = "siddy"

In [2]:
print(a)

siddy

In [3]:
a='siddy'

In [4]:
print(a)

siddy

In [5]:
a = """
     multilne string
     siddy
    """

In [6]:
a

'\n     multilne string\n     siddy\n    '

In [7]:
ord?
chr?

# Basic String operations

In [15]:
# concatenation

a="siddy"
b=2
c=3

print(str(a)+"-"+str(b)+"-"+str(c))

siddy-2-3

In [18]:
print("%d-%d-%d" % (a,b,c))#error occured because of wrong format

TypeError: %d format: a number is required, not str

In [19]:
print("{}-{}-{}".format(a,b,c))

siddy-2-3

In [20]:
# we can also change the order

print("{1}={0}={2}".format(a,b,c))

2=siddy=3

In [21]:
print("{lastname},{firstname}".format(firstname = "siddy", lastname = "saxena"))

saxena,siddy

In [22]:
# latest format

firstname = "siddy"
lastname = "saxena"

In [23]:
print(f"{lastname},{firstname}")

saxena,siddy

In [24]:
# strip() method

a = "      siddy        "

In [25]:
a

'      siddy        '

In [26]:
print(a.strip())

siddy

In [31]:
a = input() #during input we give extra space by mistake then

yes

In [32]:
a== "yes"

False

In [34]:
a.strip() == "yes" #by using strip function extra space is removed

True

In [35]:
a= input()

1 2 3 4 5

In [36]:
a

'1 2 3 4 5 '

In [38]:
a.split(' ')

['1', '2', '3', '4', '5', '']

In [39]:
a = "siddy"

In [40]:
a.replace('i','1')

's1ddy'

In [43]:
# count() method

a = 'aaabbbccc'
a.count('a')

3

In [44]:
a.count('aa')

1

# Introduction to lists

In [57]:
# creating a list

a =[1,2,3,4,5] 
 
id(a)   # gives memory address of a

2836804091144

In [3]:
a

[1, 2, 3, 4, 5]

In [4]:
a=["siddy",1,0.6,print]

In [5]:
a[3]

In [55]:
a[2] = 8  #mutability

In [58]:
a[2]
print(id(a))

2836804091144

In [7]:
a[3]("siddhant")

siddhant

In [8]:
a*2

['siddy', 1, 0.6, <function print>, 'siddy', 1, 0.6, <function print>]

In [9]:
len(a)

4

In [10]:
1 in a

True

In [11]:
for x in a :
    print(x)

siddy
1
0.6
<built-in function print>

In [12]:
# indexing and slicing in list 
#backword indexing

a[-2]

0.6

In [13]:
#slicing
a[1:5]

[1, 0.6, <function print>]

In [14]:
a = [1,2,3,4,5]

In [17]:
a[1:4]

[2, 3, 4]

In [18]:
a[0:5]

[1, 2, 3, 4, 5]

In [19]:
# reversing the string

a[::-1]

[5, 4, 3, 2, 1]

In [20]:
# pallindrome 

a = "nitin"

In [21]:
a == a[::-1]

True

In [23]:
# insert in a list 
a = [1,2,3,4,5]

In [24]:
a.insert?

In [25]:
a.insert(1,'sid')

In [26]:
a

[1, 'sid', 2, 3, 4, 5]

In [27]:
a.append("saxena")

In [28]:
a

[1, 'sid', 2, 3, 4, 5, 'saxena']

In [29]:
# deletion operation

a.pop()

'saxena'

In [30]:
a

[1, 'sid', 2, 3, 4, 5]

In [31]:
a.pop(2)

2

In [32]:
a

[1, 'sid', 3, 4, 5]

In [36]:
a = ["sid","sad","tit","sad"]

In [37]:
a.remove("sad")

In [38]:
a

['sid', 'tit', 'sad']

In [39]:
del a[1]

In [40]:
a

['sid', 'sad']

In [41]:
# sorting

In [42]:
a = [1,4,5,3,7,2]

In [46]:
sorted(a)  # returns the list

[1, 2, 3, 4, 5, 7]

In [47]:
a.sort()   # sorts list inplace hence do not return the list

In [48]:
a

[1, 2, 3, 4, 5, 7]

In [49]:
# reversing

In [52]:
for x in reversed(a):
    print(x)

7
5
4
3
2
1

In [53]:
a.reverse()

In [54]:
a

[7, 5, 4, 3, 2, 1]

# Tuples

In [64]:
a = (1,2,3,4,5)
b = 1,2

In [67]:
print(a)
print(b)

(1, 2, 3, 4, 5)
(1, 2)

In [61]:
# not mutable

a[0] =9

TypeError: 'tuple' object does not support item assignment

In [62]:
# swapping

a =5
b = 9

temp = a
a = b 
b = temp

In [63]:
print(a,b)

9 5

In [70]:
a = (5,8)

In [71]:
c,d = a

In [72]:
c

5

In [73]:
d

8

In [74]:
a =5
b=9

In [77]:
#swapping  
b,a = a,b

In [78]:
print(a,b)

5 9

In [79]:
# conversin between list and tuples

In [80]:
a = (1,2,3,4)

a = list(a)

In [81]:
a

[1, 2, 3, 4]

In [82]:
# returning multiple values from functions

In [83]:
def addSubstract(a,b):
    return a+b,a-b

In [84]:
sum, diff = addSubstract(9,3)

In [85]:
sum

12

In [86]:
diff

6

# Dictionary

In [1]:
# UNORDERD DATA BASE , USE KEY VALUE PAIR AS DATA STORAGE

In [3]:
a = { 
    "name":"siddhant",
    "phonne":7771088776,
    "subjects":["eng","math"],
    "friends":{
        "pulkit":"android dev"
    }
}

In [4]:
a["name"]

'siddhant'

In [5]:
a["friends"]

{'pulkit': 'android dev'}

In [6]:
# iterating over a dictionary - by default it will return all key values


for key in a :
    print(key)

name
phonne
subjects
friends

In [7]:
# important dictionary methods

In [8]:
# items() we can de-structure a tuple

for key,values in a.items():
    print(key,"=>",values)

name => siddhant
phonne => 7771088776
subjects => ['eng', 'math']
friends => {'pulkit': 'android dev'}

In [9]:
# Q- list of university with information in dictionary

In [10]:
students = []

In [11]:
n = int(input())

2

In [12]:
for x in range(n):
    roll= int(input())
    name= input()
    branch= input()
    students.append({
        "roll_no":roll,
        "name":name,
        "branch":branch
    })

2
sdfg
it
3
dfgh
cce

In [13]:
for s in students:
    print(s)

{'roll_no': 2, 'name': 'sdfg', 'branch': 'it'}
{'roll_no': 3, 'name': 'dfgh', 'branch': 'cce'}

In [14]:
students

[{'roll_no': 2, 'name': 'sdfg', 'branch': 'it'},
 {'roll_no': 3, 'name': 'dfgh', 'branch': 'cce'}]

# sets

In [15]:
a = {1,2,3,4,5}

In [16]:
type(a)

set

In [17]:
b = {3,4,5,6,7}

In [18]:
a.intersection(b)

{3, 4, 5}

In [19]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [20]:
 a = {1,2,3,4,5,4,6,3}

In [21]:
a

{1, 2, 3, 4, 5, 6}

In [22]:
len(a)

6

In [23]:
# basic interview question

In [24]:
a = [1,2,1,1,2] #remove duplicates

In [26]:
list(set(a)) #list - > set -> list conversion

[1, 2]

# Comprehension of DS in Python

In [1]:
a = []
for x in range(10):
    a.append(x**2)

In [2]:
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

List Comprehension

In [3]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
[x**2 for x in range(10) if x%2 == 0]

[0, 4, 16, 36, 64]

Dictionary Comprehension

In [5]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

Set Comprehension

In [6]:
{i**2 for i in range(10)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}